In [1]:
import numpy as np
import pandas as pd

In [5]:
d=[10,20,30]
label=['a','b','c']
s=pd.Series(data=d,index=label)
s['b']#accessing series with index

In [18]:
#series can hold variety of data
"""
array
string
dictionary
inbuilt function
tuple
set
"""

a=np.array([100,200])
s="puneet"
d={100:"jerry",200:"ceaser"}
t=('jerry','berry','merry')
l=['virat','rohit']
s1=pd.Series(a)
s2=pd.Series(s)
s3=pd.Series(d)
s4=pd.Series(t)
s5=pd.Series(l)
print(s1)
print(s2)
print(s3)
print(s4)
print(s5)

0    100
1    200
dtype: int64
0    puneet
dtype: object
100     jerry
200    ceaser
dtype: object
0    jerry
1    berry
2    merry
dtype: object
0    virat
1    rohit
dtype: object

In [21]:
s1=pd.Series([20,20],['rohit','virat'])
s2=pd.Series([18,19,20],['rohit','virat','raina'])
print(s1+s2)
print(s1*2)
print(s1/5)

raina     NaN
rohit    38.0
virat    39.0
dtype: float64
rohit    40
virat    40
dtype: int64
rohit    4.0
virat    4.0
dtype: float64

In [22]:
s1.values

array([20, 20])

In [23]:
type(s1.values)

numpy.ndarray

In [29]:
s=pd.Series([80,79,99,87],['shubam','virat','rohit','dhawan'])
print(s)
print(s.iloc[1])

shubam    80
virat     79
rohit     99
dhawan    87
dtype: int64
79

In [30]:
#multiple indexes
s[['shubam','rohit']]

shubam    80
rohit     99
dtype: int64

In [37]:
#access the range
print(s['virat':'dhawan'])#here upper limit is also included unlike list
print(s[1:3])#works upperlimit-1 if indexes are passed

virat     79
rohit     99
dhawan    87
dtype: int64
virat    79
rohit    99
dtype: int64

In [38]:
#access with conditions
s<80

shubam    False
virat      True
rohit     False
dhawan    False
dtype: bool

In [45]:
s[(s>80)&(s<90)]

dhawan    87
dtype: int64

In [39]:
s.mean()#mean of all values

86.25

In [40]:
(80+79+99+87)/4 #mean formulla total of obervations / total no. of observations

86.25

In [ ]:
#modify values using index